

body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.5s;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.login-sect {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-div {
    position: relative;
    width: 350px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    padding: 12px;
}

.text-log {
    width: auto;
    height: 50%;
}

.text-log h1 {
    width: auto;
    text-align: center;
    margin-bottom: 0%;
}

.text-log h4 {
    width: auto;
    text-align: center;
    margin-top: 0%;
    font-weight: 200;
    font-size: 0.8rem;
    color: gray;
}

.text-log h1 a {
    color: black;
}

.button-log {
    width: auto;
    height: 50%;
    padding: 2px;
}

#password {
    width: 97%;
     height: 30px;
     border-radius: 6px;
     border: 2px solid black;
}

#label {
    font-weight: 900;
    position: absolute;
    transform: translate(0px, -25px);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0.8rem;
    transition: 1s ease transform;
}

#submit-button {
    cursor: pointer;
    margin: 12px;
    margin-left: 0%;
    width: 99%;
    border: none;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid rgb(223, 217, 217);
}

#submit-button:hover {
    background-color: rgb(228, 227, 227);
}


.message-center {
    display: none;
    width: auto;
    text-align: center;
    font-size: 0.8rem;
    animation: fadeinbottom 0.1s ease 0s 1 normal forwards;
}

#message {
    padding: 4px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    font-size: 0.7rem;
    background-color: rgb(28, 28, 28);
    width: fit-content;
    color: rgb(194, 194, 194);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fa-sort-up {
    color: rgb(28, 28, 28);
    transform: translateY(-30px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.log-help {
    width: 90%;
    height: 30px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.7rem;
}

.input-sect {
    display: flex;
    justify-content: space-between;
}

#toggleButton {
    cursor: pointer;
    width: auto;
    padding: 5px;
    margin-left: 2px;
    text-align: center;
    display: flex;
    align-items: center;
}

#mainSession {
    width: auto;
    height: 100vh;
    margin: 0%;

}

.theme-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.8rem;
}

.mainpage {
    height: auto;
    width: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 850px;
}

.navigation {
    width: auto;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px;
    padding-right: 12px;
    gap: 12px;
}

.btn {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    transition: 0.4s ease transform;
}

.btn:hover {
    transform: scale(0.95);
}

.btn:hover .tooltip {
    display: inline-block;
}

.tooltip {
    display: none;
    position: absolute;
    width: fit-content;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 220%);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px;
    background-color: rgb(28, 28, 28);
    color: rgb(194, 194, 194);
    font-size: 0.7rem;
    border-radius: 5px;
    animation: fadedbottom 0.1s ease 0s 1 normal forwards;
}

.arrow-narrow {
    color: rgb(28, 28, 28);
    position: absolute;
    font-size: 0.9rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -90%);
}

.global-chat-sect {
    width: 100%;
    height: 100vh;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -0%);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7514922752808989) 100%);
}

.global-c-div {
    width: 540px;
    height: 690px;
    margin-bottom: 200px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-global {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: auto;
    height: 60px;
    background-color: rgb(32, 32, 32);
}

.nav-global h1 {
    margin: 0%;
    color: white;
    padding: 12px;
}

.fixed {
    position: fixed;
}

@media (max-width:698px) {
    .login-div {
        width: 470px;
    }

    .mainpage {
        width: 90%;
        max-width:none;
    }
}

@media (max-width:481px) {
    .login-div {
        width: 370px;
    }
}

@media (max-width:375px) {
    .login-div {
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    }
}

@keyframes fadeinbottom {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadedbottom {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
